.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.3em; }

.reveal h3 {
  font-size: 1.2em; }

.reveal h4 {
  font-size: 1em; }

.reveal pre {
  font-size: 0.45em;
  }

.reveal pre code {
  max-height: 500px;
  }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  }
