/* 
reveal.js css detail in assets/reveal.js/css/theme/***.css 
here is some modify
*/

.reveal {
    font-size: 24px
}

.reveal section img {
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    max-width: 90%;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal table {
  font-size: 80%
}
.reveal blockquote {
  background: rgba(255, 255, 255, 0.3);
  width: 90%;
  font-size: 90%;
  font-style: normal;
  text-align: left;
  color: #000000
}

.reveal pre {
  font-size: 0.9em; 
}

.reveal pre code {
  max-height: none;
}
div.sourceCode { 
  background-color: #000000;
}