/* 
reveal.js css detail in assets/reveal.js/css/theme/***.css 
here is some modify
*/

.reveal {
    font-size: 26px
}

.reveal section img {
    border: 0;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal table {
  font-size: 70%
}