<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="generator" content="pandoc">
    <meta name="description" content="">
$for(author-meta)$
    <meta name="author" content="$author-meta$">
$endfor$
$if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$">
$endif$
$if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$">
$endif$

    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="$relevatep$assets/css/bootstrap.min.css" >

    <!-- Custom styles for this template -->
    <link href="$relevatep$assets/css/dashboard.css" rel="stylesheet">

$if(quotes)$
    <style type="text/css">q { quotes: "“" "”" "‘" "’"; }</style>
$endif$
$if(highlighting-css)$
    <style type="text/css">
$highlighting-css$
    </style>
$endif$
$for(css)$
    <link rel="stylesheet" href="$css$" $if(html5)$$else$type="text/css" $endif$/>
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$
  </head>

  <body>
$for(include-before)$
    $include-before$
$endfor$

    <div class="container-fluid">
      <div class="row">
$if(toc)$
        <div id="sidebar" class="col-sm-3 col-md-3 sidebar">
          $toc$
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
$else$
        <div class="col-sm-12 main">
$endif$
        
$body$
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="$relevatep$assets/js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="$relevatep$assets/js/jquery.min.js"><\/script>')</script>
    <script src="$relevatep$assets/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="$relevatep$assets/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        //document.getElementById('sidebar').getElementsByTagName('ul')[0].className += "nav nav-sidebar";
        
        /* ajust the height when click the toc
           the code is from https://github.com/twbs/bootstrap/issues/1768
        */
        var shiftWindow = function() { scrollBy(0, -50) };
        window.addEventListener("hashchange", shiftWindow);
        function load() { if (window.location.hash) shiftWindow(); }
    </script>

$for(include-after)$
  $include-after$
$endfor$
  </body>
</html>
